@charset "utf-8";

.c-flex{
    display: flex;
}
.c-flex-direction-column{
    flex-direction: column;
}
.c-justify-content-between{
    justify-content: space-between;
}
.c-justify-content-center{
    justify-content: center;
}
.c-align-items-center{
    align-items: center;
}
.c-flex-wrap{
    flex-wrap: wrap;
}
.c-flex-basis_50{
    flex-basis: 50%;
}
.c-flex-basis_33{
    flex-basis: 33%;
}
.c-flex-basis_25{
    flex-basis: 25%;
}
