/* bottom */
.c-padding-bottom_10 {
  padding-bottom: 10px;
}
.c-padding-bottom_50 {
  padding-bottom: 50px;
}
.c-padding-bottom_100 {
  padding-bottom: 100px;
}
.c-padding-bottom_150 {
  padding-bottom: 150px;
}
.c-padding-bottom_200 {
  padding-bottom: 200px;
}
/* top */
.c-padding-top_50 {
  padding-top: 50px;
}

/*  */
