/* リンク大きさ */
#p-aside-nav ul li {
  height: 40px;
  width: 100px;
  text-align: center;
}
/* ハンバーガーメニュー */
#p-aside-nav-icon {
  cursor: pointer;
}
#p-aside-nav-icon svg {
  margin-top: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 12px;
  background-color: #3a302d;
}
#p-aside-nav ul li:nth-child(1) {
  height: 100px;
}
/* リンクテキスト */
#p-aside-nav ul li span {
  display: block;
}
