@charset "utf-8";

header h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 5px;
}
header h1 span {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

.p-header-title{
    height: 50px;
    line-height: 50px;
}